*{margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;}
 header > .section1{position: relative;
    display: flex;
    justify-content: space-around;
 color: white;
 }.section1{
    background: url(otimizado/background/cenario-texturizado-de-parede-de-concreto-solido\ 1.jpg);
    height: 500px;} 
    .logo{
    width: 60px;
 }
  .li{
    border-bottom: 2px solid orange;
    
 }
 ul{display: flex;
margin-left: 250px;
margin-right: -100px;}
 li{
display: flex;
margin: 30px 20px;
cursor: pointer;}
li:hover{
text-transform: uppercase;
}
.ultimo{color: black;
    padding: 3px 15px;
    border-radius: 20px;
    background-image: linear-gradient(to top, white 1%, orange) ;
  margin: 27px 0px;  }
 div{
display: flex;
align-items:start;
margin-right: 100px;} 
  p{margin-top: 30px;}
.primeira-imagem{
position: absolute;
top: 120px;
width: 400px;
} 
